:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-lightdark: #333333;
  --basic-white: #FFFFFF;
  --basic-grey: #888888;
  --basic-lightgrey: #F2F2F2;

  --footer-background: rgba(255, 255, 255, 0.9);
  --special: #766357;
  --special-grey: #EEEEEE;
  --banner-background: #6495ED;
  --toggle-background: #ABABAB;
  --border-background: #E5E5E5;
  --details-hover: #669EC0;
  --details-active: #5496BD;
  --book-hover: #604E43;
  --book-active: #503E33;
  --opacity-text: rgba(255, 255, 255, 0.3);
  --search-result-info-color: rgba(0, 0, 0, 0.3);
  --footer-link-academy: #BDBBBC;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lightgrey);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* HEADER */

.main-nav {
  line-height: 26px;
  background-color: var(--basic-white);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 15px 72px 15px 72px;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 138px;
}

.site-nav-item {
  margin: 0;
  width: 25%;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--basic-white);
}

.site-nav-item-left {
  text-align: left;
}

.site-nav-item-right {
  text-align: right;
}

.site-nav-link {
  font: inherit;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  margin: 0;
}

.site-nav-link:hover {
  color: var(--basic-blue);
}

.site-nav-link:active {
  color: var(--search-result-info-color);
}

.visited:visited {
  color: var(--special);
}
/* MAIN */

.banner {
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--banner-background);
  text-align: center;
  padding-top: 62px;
  padding-bottom: 80px;
}

.description {
  padding-top: 42px;
  padding-bottom: 51px;
}

.description-about {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.description-reason {
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.features-item-inner {
  margin: 0;
  padding: 47px 51px 54px 52px;
}

.features-list,
.features-list ul,
.social-list {
  list-style: none;
}

.features-list {
  text-align: center;
  background-color: var(--white);
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1/4;
  background-color: var(--basic-blue);
}

.features-image-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1/4;
  background-color: var(--basic-blue);
}

.city-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 60px 65px 82px 73px;
}

.features-item-white h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 25px;
}

.features-item-white span {
  display: inline-block;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 23px;
}

.features-item-white p {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
}

.features-item-black h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 25px;
}

.features-item-black span {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-lightdark);
}

.features-item-black p {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-lightdark);
  margin: 0;
}

.city-features-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  background-color: var(--special-grey);
  list-style: none;
  margin: 0;
  padding: 47px 77px 54px 96px;

}

.features-item-black-bottom h3 {
  margin-bottom: 25px;
}

.features-item-black-bottom span {
  display: inline-block;
  margin-bottom: 23px;
}

.features-item-icon {
  margin-bottom: 29px;
}

/* FORM */

.form {
  background-color: var(--basic-white);
  text-align: center;
  margin: 0 auto;
  padding-top: 58px;
}

.form h2 {
  font-size: 30px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 25px;
}

.form p {
  font-weight: normal;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 78px;
}

.button-primary {
  font: inherit;
  cursor: pointer;
  width: 568px;
  height: 86px;
  background: var(--special);
  border: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: var(--book-hover);
}

.button-primary:active {
  background-color: var(--book-active);
  color: var(--opacity-text);
}

.map {
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 593px;
}

/* FOOTER */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  background-color: var(--footer-background);
  padding-top: 36px;
  padding-bottom: 36px;
}

.main-footer {
  margin-top: -120px;
}

.footer-contacts {
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
  margin-right: 6px;
}

.social-list li:last-child {
  margin-right: 0px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 48px;
  height: 46px;
}

.social-link:hover {
  background-color: var(--details-hover);
}

.social-link:active,
.social-link:active path {
  background-color: var(--details-active);
  fill: var(--opacity-text);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  white-space: nowrap;
}

.footer-tag {
  margin: 0;
  margin-bottom: 9px;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  color: var(--basic-black);
}

.footer-phone {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  color: var(--basic-black);
}



.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.footer-copyright p {
  margin: 0;
  margin-right: 8px;
}

.footer-link-academy:hover path {
  fill: var(--basic-blue);
}

.footer-link-academy:active path {
  fill: var(--footer-link-academy);
}



/* HOTELS */

/* потом могу перенести это выше с list-style */

.hotels-form {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: 0;
  padding: 26px 73px 31px 72px;
}

.result {
  background-color: var(--basic-white);
}

.hotels-form-fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotels-fieldset-price {
  max-width: 317px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.hotels-form-list,
.search-result-list,
.arrows-list,
.sorting-list {
  list-style: none;
}

.filters-item legend,
.hotels-price legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  padding: 29px 73px 31px 73px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  max-width: 518px;
}

/* .sorting span {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 117px;
} */

.arrows {
  margin-left: auto;
}

.arrows-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.arrows-item {
  margin-right: 12px;
}

.arrows-item:last-child {
  margin-right: 0;
}

.arrows-item:hover path {
  fill: var(--basic-black);
}

.arrows-item:active path {
  fill: var(--basic-blue);

}

.down-arrow:active {
  transform: rotate(-180deg);
}

.active-arrow path {
  fill: var(--basic-blue);
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.sorting-item {
  margin-right: 33px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--search-result-info-color);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-link:hover {
  color: var(--basic-blue);
}

.sorting-link:active {
  color: var(--basic-black);
  border: none;
}

.sorting-item-active {
  color: var(--basic-blue);
  border: none;
}

.hotels-price legend {
  margin-bottom: 10px;
}

.hotels-filter {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--banner-background);
  margin: 0;
  padding: 0;
}

.hotels-price {
  grid-area: hotels-price;
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
}

.range-controls {
  position: relative;
  height: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  width: 5px;
  height: 5px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-background);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url(../img/price-background.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.price-controls label {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 50%;
}

.price-controls input {
  font-family: inherit;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40%;
  outline: none;
}


.price-control-min {
  text-align: right;
}

.price-control-max {
  text-align: center;
}

/* CHECKBOX  */

.filters-item legend {
  margin-bottom: 24px;
}

.hotels-form-list {
  margin: 0;
  padding: 0;
}

.hotels-form-item {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  padding-left: 40px;
}

.hotels-form-item:last-child {
  margin: 0;
}

.hotels-form-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-item {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-item {
  margin-right: 150px;
}

.filters-item:last-child {
  margin-right: 0;
}

.filter-input-checkbox+label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.show-hotels-button {
  margin: 0;
  font: inherit;
  cursor: pointer;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 5px 34px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: transparent;
  margin: 0 auto;
  box-sizing: border-box;
}

.show-hotels-button:hover {
  font: inherit;
  font-weight: normal;
  line-height: 21px;
  background: var(--basic-white);
  color: var(--basic-black);
}

.filters-result {
  max-width: 117px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-right: 46px;
}

.filters-sort {
  max-width: 75px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-right: 40px;
}

.sorting-item a {
  text-decoration: none;
}

.normal {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue)
}

.underlined {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.search-result {
  margin: 0;
  padding: 0;
}

.search-result-list {
  margin: 0;
  padding: 0;
}

.search-result-item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--border-background);
  border-bottom: 1px solid var(--border-background);
  margin: 0;
  padding: 30px 72px;
}

.search-result-item img {
  margin: 0;
  padding: 0;
  margin-right: 29px;
}

.search-result-info {
  width: 270px;
}

.search-result-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  cursor: pointer;
}

.search-result-info h3:hover {
  color: var(--basic-blue);
}

.search-result-info h3:active {
  color: var(--search-result-info-color);
}

.search-result-item span {
  display: inline-block;
  min-width: 110px;
  text-align: start;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-lightdark);
}

.search-result-rating {
  margin-left: auto;
}

.search-result-rating span {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 110px;
}

.details {
  width: 110px;
  padding: 4px 17px;
  margin: 0;
  margin-right: 6px;
  background: var(--basic-blue);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  text-decoration: none;
}

.details:hover {
  background: var(--details-hover);
}

.details:active {
  background: var(--details-active);
  color: var(--opacity-text);
}

.book {
  width: 142px;
  margin: 0;
  padding: 4px 17px;
  background: var(--special);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  text-decoration: none;
}

.book:hover {
  background: var(--book-hover);
}

.book:active {
  background: var(--book-active);
  color: var(--opacity-text);
}
