:root {
--basic-black: #000000;
--basic-blue: #81B3D2; 
--basic-lightdark: #333333;
--basic-white: #FFFFFF;
--basic-grey:#888888;
--basic-lightgrey: #F2F2F2;

--special: #766357;
}


body {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-lightgrey);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-nav {
    line-height: 26px;
    background-color: var(--basic-white);
}

.site-nav {
    list-style: none;
}

.site-nav-link {
    line-height: 26px;
    text-decoration: none;
    color: var(--basic-black);
}

/* .banner {
    background-image: url(/img/header-img.jpg);
    min-height: 509px;
} */

.description-about {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.description-reason {
    font-weight: normal;
    line-height: 26px;
    text-align: center;

}

.features-list,
.features-list ul,
.social-list
{
    list-style: none;
}


.features-item-white h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
}

.features-item-white span {
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-white);
}

.features-item-white p {
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-white);
}


.features-item-black h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.features-item-black span {
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-lightdark);
}

.features-item-black p {
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-lightdark);
}

.form h2 {
    font-size: 30px;
    text-align: center;
    color: var(--basic-black);
}

.form p {
    font-weight: normal;
    text-align: center;
    color: var(--basic-black);
}

.button-primary {
    cursor: pointer;
    width: 458px;
    height: 58px;
    background: var(--basic-blue);
    border: none;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
}

.page-footer a {
    text-decoration: none;
    color: var(--basic-black);   
}

.footer-tag {
    font-size: 21px;
    line-height: 26px; 
}

.footer-phone {
    font-size: 21px;
    line-height: 26px;
}

.footer-copyright {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
}


/* HOTELS */
/* потом могу перенести это выше с list-style */
.hotels-form-list,
.sorting,
.search-result-list,
.arrows {
    list-style: none;
}

.hotels-form-list span {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase; 
    color: var(--basic-white);
}

.hotels-form-item {
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;  
    color: var(--basic-white);
}

.show-hotels-btn {
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.filtres span {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sorting span {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; 
    color: var(--basic-black);
}

.normal {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-blue)
}

/* не знаю, как задать длину бордера))) */
.underlined {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--basic-blue);
}

.search-result-item h3 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.search-result-item p {
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-lightdark);
}

.details {
    background: var(--basic-blue);
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}

.book {
    background: var(--special);
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}
