:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-lightdark: #333333;
  --basic-white: #FFFFFF;
  --basic-grey: #888888;
  --basic-lightgrey: #F2F2F2;

  --footer-background: rgba(255, 255, 255, 0.9);
  --special: #766357;
}


body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lightgrey);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* HEADER */

.main-nav {
  line-height: 26px;
  background-color: var(--basic-white);
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  position: relative;
  left: 531px;
  margin-bottom: -200px;
  height: 70px;
  width: 138px;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.site-nav-item {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 134px;
  min-height: 26px;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 56px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-nav-link {
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  margin: 0;
}

/* MAIN */

.banner {
  background-image: url(../img/header-img.jpg);
  height: 509px;
  background-repeat: no-repeat;
}

.banner-img {
  position: relative;
  padding-left: 372px;
  padding-top: 78px;
}

.description {
  background-image: url(../img/Group\ 1.png);
  background-repeat: no-repeat;
  margin-top: -57px;
}

.description-about {
  min-height: 80px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 98.5px;
}

.description-reason {
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 16.5px;
  padding-bottom: 51px;
}

.features-list,
.features-list ul,
.social-list {
  list-style: none;
}

.features-list {
  display: grid;
  text-align: center;
  background-color: var(--white);
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1/4;
  background-color: var(--basic-blue);
}

.features-image-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1/4;
  background-color: var(--basic-blue);
}

.city-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item-white h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
  padding-top: 47px;
  padding-bottom: 25px;
}

.features-item-white span {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
}

.features-item-white p {
  padding-top: 23px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
}

.features-item-black h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  padding-top: 28px;
  padding-bottom: 25px;
}

.features-item-black span {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-lightdark);
}

.features-item-black p {
  padding-top: 25px;
  padding-bottom: 82px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-lightdark);
  margin: 0;
}

.features-item-black-bottom h3 {
  padding-top: 47px;
  padding-bottom: 25px;
}

.features-item-black-bottom p {
  padding-top: 23px;
  padding-bottom: 54px;
}

.house,
.burger,
.present {
  padding-top: 60px;
}

/* FORM */

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 435px;
  min-height: 155px;
  padding-top: 58px;
  margin: 0 auto;
}

.form {
  background-color: var(--basic-white);
  min-height: 291px;
}

.form h2 {
  font-size: 30px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
}

.form p {
  font-weight: normal;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
}

.button-primary {
  cursor: pointer;
  width: 458px;
  height: 58px;
  background: var(--basic-blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
}

/* FOOTER */

.page-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--footer-background);
}

.footer-social {
  max-width: 162px;
  padding-top: 36px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.twitter,
.facebook,
.youtube {
  width: 48px;
  height: 46px;
  background-color: var(--basic-blue);
  margin-right: 6px;
}

.social-item-icon {
  margin: 0;
  padding-top: 13px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-footer a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-tag {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 23px;
}

.footer-phone {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 9px;
  margin-bottom: 36px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.footer-copyright p{
  margin: 0;
  padding-right: 8px;
}





/* HOTELS */

/* потом могу перенести это выше с list-style */
.hotels-form-list,
.sorting,
.search-result-list,
.arrows,
.sorting-list {
  list-style: none;
}



.infrastructure span,
.hotels-type span,
.hotels-price-day {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.hotels-form-item {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.show-hotels {
  background-image: url(../img/background.jpg);
}

.price {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.show-hotels-btn {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  font: inherit;
}

.filters-result {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters-sort {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-item a {
  text-decoration: none;
}

.normal {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue)
}

/* не знаю, как задать длину бордера))) */
.underlined {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.search-result-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-result-item span {
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-lightdark);
}

.details {
  background: var(--basic-blue);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  text-decoration: none;
}

.book {
  background: var(--special);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  text-decoration: none;
}

.map {
  background-image: url(../img/map.jpg);
  min-height: 473px;
}
